gitMFCBusAnalysis/*.sln binary
gitMFCBusAnalysis/*.aps binary
gitMFCBusAnalysis/*.rc binary
gitMFCBusAnalysis/*.suo binary
gitMFCBusAnalysis/*.sdf binary
gitMFCBusAnalysis/*.vcxproj binary
gitMFCBusAnalysis/*.filters binary
gitMFCBusAnalysis/*.user binary
